.body {
    background-color: #030303;
    color: white;
    padding-top: 70px;
  }

  .navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
  }

  .icon-button {
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 6px 16px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    text-decoration: none;
  }

  .icon-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
  }

  .logo {
    max-height: 80px;
  }

  .offcanvas {
    background-color: #000000;
    color: white;
  }

  .navbar-section {
    flex: 1;
  }

  .navbar-center {
    flex: 1;
    text-align: center;
  }

  .navbar-end {
    flex: 1;
    text-align: right;
  }
